.Bookmarks {
  width: 45%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.catCont {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill 200px);
  grid-gap: 10px;
}

.bmCat {
  overflow: auto;
  height: auto;
  width: 60%;
  margin: 0 auto;
  h4 {
    margin: 10px 0 10px 10px;
    text-align: left;
  }

  ul {
    margin: 15px 20px 20px 20px;
    text-align: left;
  }
}

.catTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px;

  button {
    margin-right: 10px;
    margin-top: 6px;
  }
}

.catBottom {
  display: none;
}

.bmActions {
  width: 100%;
  height: 55px;
  margin: 10px 0;

  button {
    padding: 0.25rem 3rem;
    cursor: pointer;
  }
}

.bmMaint {
  background-color: white;
  height: 550px;
  width: 75%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: radial-gradient(
    circle farthest-corner at 18.7% 37.8%,
    rgba(250, 250, 250, 1) 0%,
    rgba(225, 234, 238, 1) 90%
  );
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  border: 1px solid black;
  border-radius: 25px;
  h3 {
    margin-top: 15px;
  }
}

.bmForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.successText {
  display: none;
}

.closeBmPanel {
  height: 50px;
  width: 50px;
  position: relative;
  left: 200px;
  margin: 15px 0;
  cursor: pointer;
}

.show {
  display: block;
}
